<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="obtics" type="Obtics.Configuration.ObticsConfigurationSection, Obtics"/>
  </configSections>

  <obtics enableRegistrationThroughReflection="true">
    <!--collectionAdapters>
      <add type="Obtics.Data.ObticsToDataSetCollectionAdapterProvider, ObticsToDataSet"/>
    </collectionAdapters-->
    <rootMappings>
      <add type="Obtics.Data.LinqToDataSetExpressionObserverMappingProvider, ObticsToDataSet"/>
      <add type="Obtics.Xml.LinqToXmlExpressionObserverMappingProvider, ObticsToXml"/>
    </rootMappings>
  </obtics>
    
</configuration>