<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Obtics" type="Obtics.Configuration.ObticsConfigurationSection, Obtics"/>
  </configSections>
  <Obtics>
    <equalityComparers>
      <add type="Test.CObj, Test" comparer="Test.CObjEqualityComparer, Test"/>
    </equalityComparers>
  </Obtics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
